/* Globale styles her */

:root {
  --square-pattern: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="red"><path d="M7.47662 4.02206C6.50635 3.05178 5.53232 2.07774 4.56205 1.10745C4.28482 0.83023 3.80905 0.83023 3.53183 1.10745C2.56155 2.07774 1.59128 3.04803 0.621002 4.02206C0.343781 4.29929 0.343781 4.77506 0.621002 5.05229C1.59128 6.02258 2.5653 6.99661 3.53558 7.9669C3.8128 8.24412 4.28857 8.24412 4.56579 7.9669C5.53607 6.99661 6.51009 6.02258 7.48037 5.05229C7.63022 4.90244 7.69016 4.73011 7.69016 4.56527C7.69016 4.55403 7.69016 4.54654 7.69016 4.5353C7.69016 4.52781 7.69016 4.51657 7.69016 4.50908C7.69016 4.34424 7.63022 4.17191 7.47662 4.02206ZM4.04881 6.41968C3.41944 5.79031 2.79382 5.16468 2.16445 4.5353C2.79382 3.90593 3.41944 3.2803 4.04881 2.65092C4.67818 3.2803 5.3038 3.90593 5.93317 4.5353C5.3038 5.16468 4.67818 5.79031 4.04881 6.41968Z"/></svg>');
  --primary-color01: rgba(255, 204, 74, 1);
  --primary-color02: rgba(78, 175, 78, 1);
  --primary-color03: rgba(24, 24, 24, 1);
  --secondary-color01: rgba(245, 245, 245, 1);
  --secondary-color02: rgba(228, 228, 228, 1);
  --text-light: rgba(255, 255, 255, 1);
  --text-gray: rgba(89, 85, 102, 1);
  --text-dark: rgba(24, 24, 24, 1);
  --heading01: 50px;
  --heading02: 45px;
  --heading03: 40px;
  --heading04: 35px;
  --heading05: 30px;
  --heading06: 25px;
  --body-lg: 18px;
  --body: 16px;
}

h1 {
  font-family: Cabin;
  font-size: var(--heading01);
  color: var(--text-color, var(--text-dark));
  font-style: normal;
  font-weight: 700;
  line-height: 116%;
}
h2 {
  font-family: Cabin;
  font-size: var(--font-size, var(--heading02));
  color: var(--text-color, var(--text-dark));
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
h3 {
  font-family: Cabin;
  font-size: var(--font-size, var(--heading03));
  color: var(--text-color, var(--text-dark));
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
p {
  font-family: Lato;
  font-size: var(--body-default);
  color: var(--text-color, var(--text-dark));
  font-style: normal;
  font-weight: 400;
  line-height: 147.5%;
}

a {
  font-family: Lato;
  font-size: var(--body-default);
  color: var(--text-color, var(--text-dark));
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-decoration: none;
}

.button01 {
  display: flex;
  padding: 16px 33px;
  align-items: flex-start;
  gap: 10px;
  max-width: max-content;
  border-radius: 42px;
  border: 2px solid var(--button-color01, rgba(24, 24, 24, 1));
  background: var(--button-color01, rgba(24, 24, 24, 1));
  color: var(--button-color02, #fff);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  transition: all 0.3s ease;
  &:hover {
    border-radius: 42px;
    border: 2px solid var(--button-color01, rgba(24, 24, 24, 1));
    background: var(--button-color02, #fff);
    color: var(--button-color01, rgba(24, 24, 24, 1));
  }
}

.button02 {
  display: flex;
  padding: 16px 33px;
  align-items: flex-start;
  gap: 10px;
  max-width: max-content;
  border-radius: 42px;
  border: 2px solid var(--primary-color01);
  background: var(--primary-color01);
  color: var(--text-dark);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  transition: all 0.3s ease;
  &:hover {
    border-radius: 42px;
    border: 2px solid #ffe5a2;
    background: #ffe5a2;
    color: var(--text-dark);
  }
}

.container {
  background: var(--container-background, --secondary-color02);
  padding-block: 4rem;
  display: grid;
  grid-template-columns:
    [full-start]
    1fr
    [content]
    minmax(0, 1200px)
    1fr
    [full-end];
  column-gap: 2rem;
  > * {
    grid-column: content;
  }
}

.steps {
  display: grid;
  gap: 1rem;
  margin-top: 0.25rem;
}
.step {
  display: flex;
  align-items: start;
  gap: 1rem;
  max-width: 50ch;
  .icon {
    width: 40px;
    color: var(--primary-color02);
  }
  h3 {
    text-box-trim: trim-start;
    --font-size: var(--body);
    --text-color: var(--text-gray);
    font-weight: 400;
    line-height: 116%;
  }
}

.bg-pattern {
  position: relative;
  &::before {
    --square-count: 11;
    --square-size: 1.34rem;

    --_square-size: var(--square-size, 1rem);
    --_square-half: calc(var(--square-size) / 2);
    --_square-sum: calc(var(--square-count) * var(--square-size));
    z-index: -1;
    content: "";
    position: absolute;
    inset: auto -120px 70px auto;

    /*inline-size: calc(var(--square-count) * 1.34rem - .67rem);*/
    inline-size: calc(
      round(var(--_square-sum), var(--_square-size)) - var(--_square-half)
    );
    aspect-ratio: 1;
    background: linear-gradient(
        135deg,
        #be965d,
        #976f40,
        #c99b61,
        #f0be7b,
        #ffcb85,
        #eebc79,
        #c0935b,
        #976f40
      )
      0 0 / 100% 100%;
    mask:
      var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
      var(--square-pattern) var(--_square-half) var(--_square-half) /
        var(--_square-size) var(--_square-size);
    /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
  }

  &::after {
    content: "";
    position: absolute;
    right: -36px;
    bottom: -41px;
    background: var(--primary-color02);
    width: 150px;
    height: 100px;
    border-radius: 10px;
    z-index: -1;
  }
}

.title {
  max-width: 65ch;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > p:first-child {
    text-transform: uppercase;
    letter-spacing: 2.32px;
  }
  > :last-child {
    --text-color: var(--text-gray);
  }
}
