<div class="header-wrapper">
  <header>
    <h2>AskExpert</h2>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/case-study">Case Study</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <button class="button02" popovertarget="pop">Login</button>
  </header>
</div>
<aside id="pop" popover>
  <div>
    <h2>Dashboard Login</h2>
    <form>
      <label for="email">Email address</label>
      <input type="email" placeholder="email" />
      <label for="password">Password</label>
      <input type="password" placeholder="password" />
      <button class="button02" type="submit">Go to dashboard</button>
    </form>
  </div>
</aside>
<style>
  @layer components {
    .header-wrapper {
      width: 100vw;
      position: fixed;
      z-index: 100;
      background-color: rgba(27, 27, 27, 0.91);
      backdrop-filter: blur(10.5px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    header {
      max-width: 1200px;
      margin: 0rem 2rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0;
      h2 {
        color: var(--text-light);
        font-size: var(--heading05);
        margin: 0;
      }
      nav ul {
        display: flex;
        gap: 1.5rem;
        list-style: none;
        margin: 0;
        padding: 0;
        li a {
          color: #fff;
          text-decoration: none;
          font-size: 17.728px;
          font-weight: 400;
          line-height: 160%; /* 28.365px */
          &:hover {
            color: var(--primary-color01);
          }
        }
      }
      .button02 {
        padding: 4px 16px;
      }
    }
  }
  aside {
    border-radius: 30px;
    background: var(--primary-color03);
    div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      color: var(--text-light);
      h2 {
        --font-size: var(--heading02);
        color: var(--text-light);
        margin: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.7rem;
        label {
          font-size: var(--heading06);
        }
        label {
          align-self: start;
        }
        input {
          padding: 0.5rem;
          width: 100%;
          border: 1px solid var(--text-gray);
          border-radius: 8px;
          font-size: var(--body01);
          background-color: var(--secondary-color02);
        }
      }
    }
  }
  [popover] {
    inset: auto;
    margin: 1.5rem 0rem;
    position-area: bottom span-left;
    position-try: flip-inline;
    justify-self: anchor-center;
  }

  [popover]::backdrop {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.2);
  }
</style>
