<section class="container">
  <div class="newsletter">
    <div class="newsletter-titel">
      <h2>Subscribe Our Newsletter</h2>
      <p>Build stronger Customer Relationships with Consultalk</p>
    </div>
    <input type="email" placeholder="your mail address" />
    <a class="button02" href="">Subscribe</a>
  </div>
</section>
<style>
  .newsletter {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 4rem;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background: var(--primary-color03);
    h2 {
      --font-size: var(--heading04);
      --text-color: var(--text-light);
    }

    p {
      --text-color: var(--text-light);
    }
    .newsletter-titel {
      display: flex;
      flex-direction: column;
      width: fit-content;
      flex: 1 0 auto;
      margin-right: 1rem;
    }
    .newsletter-titel,
    input,
    a {
      z-index: 3;
    }
    @media (max-width: 1040px) {
      flex-wrap: wrap;
    }

    &::before {
      --square-count: 13;
      --square-size: 1.34rem;

      --_square-size: var(--square-size, 1rem);
      --_square-half: calc(var(--square-size) / 2);
      --_square-sum: calc(var(--square-count) * var(--square-size));
      z-index: 1;
      content: "";
      position: absolute;
      inset: auto -120px 70px auto;
      rotate: -45deg;
      /*inline-size: calc(var(--square-count) * 1.34rem - .67rem);*/
      inline-size: calc(
        round(var(--_square-sum), var(--_square-size)) - var(--_square-half)
      );
      aspect-ratio: 1;
      background: linear-gradient(
          135deg,
          #be965d,
          #976f40,
          #c99b61,
          #f0be7b,
          #ffcb85,
          #eebc79,
          #c0935b,
          #976f40
        )
        0 0 / 100% 100%;
      mask:
        var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
        var(--square-pattern) var(--_square-half) var(--_square-half) /
          var(--_square-size) var(--_square-size);
      /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
    }

    &::after {
      content: "";
      position: absolute;
      right: -36px;
      bottom: -41px;
      rotate: -45deg;
      background: var(--primary-color02);
      width: 150px;
      height: 100px;
      border-radius: 10px;
      z-index: 2;
    }
  }
  input[type="email"] {
    padding: 0.7rem;
    border: 1px solid var(--text-gray);
    background: var(--text-light);
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 70px;
  }
</style>
