---
import { Image } from "astro:assets";
import photo from "@assets/images/photo.jpg";
import DynamicIcon from "./helpers/DynamicIcon.astro";
---

<section class="what-to-expect">
  <figure>
    <Image src={photo} alt="" class="pattern" />
  </figure>
  <div class="what-to-expect-content">
    <p>WE'LL WORK WITH YOU</p>
    <h2>What to expect</h2>
    <p>
      Our collaboration is built on transparency, efficiency, and measurable
      results. Together, we create strategies tailored to your unique needs and
      goals.
    </p>
    <div class="steps">
      <div class="step">
        <DynamicIcon name="checkmark" />
        <h3>
          Collaborate to build actionable strategies that drive sustainable
          growth and deliver tangible outcomes.
        </h3>
      </div>
      <div class="step">
        <DynamicIcon name="checkmark" />
        <h3>
          Identify opportunities to optimize processes and implement impactful
          solutions with measurable results.
        </h3>
      </div>
    </div>
  </div>
</section>

<style>
  @layer components {
    .what-to-expect {
      display: grid;
      max-width: 1200px;
      grid-template-columns: 1fr 1fr;
      margin: 0rem auto;
      padding: 4rem 2rem;
      gap: 4rem;

      figure {
        position: relative;

        &::before {
          --square-count: 11;
          --square-size: 1.34rem;

          --_square-size: var(--square-size, 1rem);
          --_square-half: calc(var(--square-size) / 2);
          --_square-sum: calc(var(--square-count) * var(--square-size));
          z-index: -1;
          content: "";
          position: absolute;
          inset: -40px auto auto -30px;
          /*inline-size: calc(var(--square-count) * 1.34rem - .67rem);*/
          inline-size: calc(
            round(var(--_square-sum), var(--_square-size)) - var(--_square-half)
          );
          aspect-ratio: 1;
          background: linear-gradient(
              135deg,
              #be965d,
              #976f40,
              #c99b61,
              #f0be7b,
              #ffcb85,
              #eebc79,
              #c0935b,
              #976f40
            )
            0 0 / 100% 100%;
          mask:
            var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
            var(--square-pattern) var(--_square-half) var(--_square-half) /
              var(--_square-size) var(--_square-size);
          /*clip-path: polygon(-3% 0%, 100% 0%, 100% 103%);*/
        }

        &::after {
          content: "";
          position: absolute;
          left: -1rem;
          top: -1rem;
          background: var(--primary-color02);
          width: 150px;
          height: 100px;
          border-radius: 10px;
          z-index: -1;
        }
      }
      .what-to-expect-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: -40px;
        p {
          max-width: 50ch;
          --text-color: var(--text-gray);
        }
        .steps {
          display: grid;
          gap: 1rem;
          margin-top: 0.25rem;
        }
        .step {
          display: flex;
          align-items: start;
          gap: 1rem;
          max-width: 50ch;
          .icon {
            width: 40px;
            color: var(--primary-color02);
          }
          h3 {
            text-box-trim: trim-start;
            --font-size: var(--body);
            --text-color: var(--text-gray);
          }
        }
      }
      @media (max-width: 900px) {
        grid-template-columns: 1fr;
        margin: 4rem 2rem;
        figure {
          &::before {
            margin-bottom: 2rem;
            --square-count: 8;
          }
        }
      }
    }
  }
</style>
